*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.Rainy{
    background-image: url("../public/Rains.png");
    background-color: #B5D6D6;
}
.cloud{
    position: absolute;
    transform: translateY(227px);
    top: 10%;
    overflow-x: hidden;
}
.girl{
    position: absolute;
    right: 50%;
    left: 41%;
    bottom: 30%;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  